@model BibliotecaPedro.Models.Pessoa

@{
    ViewBag.Title = "Pessoas - Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PessoaNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PessoaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
